<div class = "navbar navbar-default navbar-fixed-top" style = "position:relative">
    <div class = "navbar-inner">
        <div class = "container">
            <div class = "navbar-header">
                <button type = "button" class = "navbar-toggle">
                     <i class="material-icons menu-icon">menu</i>           
                </button>
            </div>
            <div class = "navbar-collapse collapse">
                <ul class = "nav navbar-nav navbar-right">
                    <li id = "home">
                        <a href = "/">Home</a> 
                    </li>

                    <li id = "link1">
                        <a href = "/link1">Link1</a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </div>
